
services:
  db:
    image: postgres:15
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sweetshop
    ports:
      - "5432:5432"
    networks:
      - app_network

  web:
    build:
      context: .
      dockerfile: dockerfile
    restart: on-failure
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/sweetshop
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000" 
    volumes:
      - .:/app
    networks:
      - app_network

  frontend:
    build:
      context: ./frontend
      dockerfile: ../Dockerfile.frontend
      args:
        VITE_BACKEND_URL: http://localhost:8000/api/v1
    restart: on-failure
    ports:
      - "3000:80"
    depends_on:
      - web
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

